<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.CustomerInfoDao">
    <select id="get" parameterType="int" resultType="CustomerInfo">
        select id, name, telcode, department, regioncode, address, postcode FROM customerinfo;
    </select>
    <select id="findByName" parameterType="String" resultType="CustomerInfo">
        select id, name, telcode, department, regioncode, address, postcode FROM customerinfo where name=#{name};
    </select>

    <delete id="delete" parameterType="int">
        delete from customerinfo where id=#{id};
    </delete>

    <select id="findByTelCode" parameterType="String" resultType="CustomerInfo">
        select id, name, telcode, department, regioncode, address, postcode FROM customerinfo where TelCode=#{TelCode};
    </select>

    <insert id="insert" parameterType="CustomerInfo">
        insert into customerinfo(name, telcode, department, regioncode, address, postcode) values(#{name},#{telCode},#{Department},#{RegionCode},#{Address},#{PostCode});
    </insert>

    <update id="update" parameterType="CustomerInfo">

    </update>

</mapper>