<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.CustomerInfoDao">

    <resultMap id="customerInfoMap" type="CustomerInfo">
        <id property="id" column="ID"/>
        <result property="name" column="Name"/>
        <result property="telCode" column="TelCode"/>
        <result property="department" column="Department"/>
        <result property="regionCode" column="RegionCode"/>
        <result property="address" column="Address"/>
        <result property="postCode" column="PostCode"/>
    </resultMap>

    <sql id="user_get">
        select ID, Name, TelCode, Department, RegionCode, Address, PostCode
        FROM customerinfo
    </sql>

    <select id="get" parameterType="int" resultMap="customerInfoMap">
        <include refid="user_get"/> where ID = #{id,jdbcType=INTEGER} ;
    </select>

    <select id="findByName" parameterType="String" resultMap="customerInfoMap">
        <include refid="user_get"/> where name=#{name,jdbcType=VARCHAR} ;
    </select>

    <delete id="delete" parameterType="int">
        delete from customerinfo where id=#{id};
    </delete>

    <select id="findByTelCode" parameterType="String" resultMap="customerInfoMap">
        <include refid="user_get"/> where TelCode=#{telCode,jdbcType=VARCHAR}  ;
    </select>



    <insert id="insert" parameterType="CustomerInfo">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() as value
        </selectKey>
        insert into customerinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                Name,
            </if>
            <if test="telCode != null and telCode != ''">
                TelCode,
            </if>
            <if test="department != null and department != ''">
                Department,
            </if>
            <if test="regionCode != null and regionCode != ''">
                RegionCode,
            </if>
            <if test="address != null and address != ''">
                Address,
            </if>
            <if test="postCode != 0">
                PostCode,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
              <if test="name != null and name != ''">
                  #{name,jdbcType=VARCHAR},
              </if>
              <if test="telCode != null and telCode != ''">
                  #{telCode,jdbcType=VARCHAR},
              </if>
              <if test="department != null and department != ''">
                  #{department,jdbcType=VARCHAR},
              </if>
              <if test="regionCode != null and regionCode != ''">
                  #{regionCode,jdbcType=VARCHAR} ,
              </if>
              <if test="address != null and address != ''">
                  #{address,jdbcType=VARCHAR},
              </if>
              <if test="postCode != 0">
                  #{postCode,jdbcType=INTEGER},
              </if>
          </trim>
    </insert>

    <update id="update" parameterType="CustomerInfo">
        update customerinfo
          <trim prefix="set" suffixOverrides=",">
              <if test="name != null and name != ''"> Name=#{name,jdbcType=VARCHAR} , </if>
              <if test="telCode != null and telCode != ''"> TelCode=#{telCode,jdbcType=VARCHAR} , </if>
              <if test="department != null and department != ''"> Department=#{department,jdbcType=VARCHAR} ,  </if>
              <if test="regionCode != null and regionCode != ''"> RegionCode=#{regionCode,jdbcType=VARCHAR} ,  </if>
              <if test="address != null and address != ''"> Address=#{address,jdbcType=VARCHAR} ,  </if>
              <if test="postCode != null"> PostCode=#{postCode,jdbcType=INTEGER},  </if>
          </trim>
        where id = #{id,jdbcType=INTEGER} ;
    </update>

</mapper>