<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.CustomerInfoDao">

    <resultMap id="customerInfoMap" type="CustomerInfo">
        <id property="id" column="ID"/>
        <result property="name" column="Name"/>
        <result property="telCode" column="TelCode"/>
        <result property="department" column="Department"/>
        <result property="regionCode" column="RegionCode"/>
        <result property="address" column="Address"/>
        <result property="postCode" column="PostCode"/>
    </resultMap>

    <sql id="user_get">
        select ID, Name, TelCode, Department, RegionCode, Address, PostCode
        FROM customerinfo
    </sql>

    <select id="get" parameterType="int" resultMap="customerInfoMap">
        <include refid="user_get"/> where ID = #{id};
    </select>

    <select id="findByName" parameterType="String" resultMap="customerInfoMap">
        <include refid="user_get"/> where name=#{name};
    </select>

    <delete id="delete" parameterType="int">
        delete from customerinfo where id=#{id};
    </delete>

    <select id="findByTelCode" parameterType="String" resultMap="customerInfoMap">
        <include refid="user_get"/> where TelCode=#{telCode} ;
    </select>

    <insert id="insert" parameterType="CustomerInfo">
        insert into customerinfo(Name, TelCode, Department, RegionCode, Address, PostCode)
        values(#{name},#{telCode},#{department},#{regionCode},#{address},#{postCode});
    </insert>

    <update id="update" parameterType="CustomerInfo">
        update customerinfo
            <set>
                <if test="name != null and name != ''"> Name=#{name}, </if>
                <if test="telCode != null and telCode != ''"> TelCode=#{telCode}, </if>
                <if test="department != null and department != ''"> Department=#{department},  </if>
                <if test="regionCode != null and regionCode != ''"> RegionCode=#{regionCode},  </if>
                <if test="address != null and address != ''"> Address=#{address},  </if>
                <if test="postCode != null"> PostCode=#{postCode}  </if>
            </set>
        where id=#{id};
    </update>

</mapper>