<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.ExpressSheetDao">
    <update id="update" parameterType="ExpressSheet" >
        update expresssheet
        <set>
            <if test="id != null and id != ''"> id=#{id},</if>
            <if test="type != null and type != ''"> type=#{type}, </if>
            <if test="sender != null"> sender=#{sender},  </if>
            <if test="recever != null">  recever =#{recever}, </if>
            <if test="weight != null"> weight=#{weight},  </if>
            <if test="tranFee != null"> TranFee=#{tranFee} , </if>
            <if test="packageFee != null"> PackageFee=#{packageFee} , </if>
            <if test="insuFee != null"> InsuFee=#{insuFee} , </if>
            <if test="accepter != null and accepter != ''"> Accepter=#{accepter} ,</if>
            <if test="deliver != null and deliver != ''"> Deliver=#{deliver} , </if>
            <if test="accepteTime != null"> AccepteTime=#{accepteTime} , </if>
            <if test="deliveTime != null and deliveTime != ''"> DeliveTime=#{deliveTime} , </if>
            <if test="acc1 != null and acc1 != ''"> acc1=#{acc1}, </if>
            <if test="acc2 != null and acc2 != ''"> acc2=#{acc2}, </if>
            <if test="status != null"> Status=#{status} </if>
        </set>
    </update>
    <!--使用级联-->
    <select id="get" parameterType="String" resultType="ExpressSheet">
        select id, type, sender, recever, weight, tranfee, packagefee, insufee, accepter, deliver, acceptetime, delivetime, acc1, acc2, status from expresssheet where id=#{id};
    </select>

    <!--有问题，实体中sender、recever是对应的实体，出现错误-->
    <insert id="insert" parameterType="ExpressSheet">
        insert into expresssheet(id, type, sender, recever, weight, tranfee, packagefee, insufee, accepter, deliver, acceptetime, delivetime, acc1, acc2, status) values(#{id},#{type},#{sender},#{recever},#{weight},#{tranFee},#{packageFee},#{insuFee},#{accepter},#{deliver},#{accepteTime},#{deliveTime},#{acc1},#{acc2},#{status});
    </insert>
    
    <delete id="delete" parameterType="String">
        delete from expresssheet where id=#{id};
    </delete>

</mapper>