<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.PackageRecordDao">

    <resultMap id="packageRecordMap" type="PackageRecord">
        <id property="sn" column="SN"/>
        <result property="packageId" column="PackageID"/>
        <result property="uId" column="UID"/>
        <result property="operation" column="Operation"/>
    </resultMap>

    <insert id="insert" parameterType="PackageRecord">
        insert packagerecord (PackageId, UID, Operation)
        values (#{packageId}, #{uId}, #{operation})
    </insert>

    <sql id="PackageRecord_get">
        select SN, PackageID, UID, Operation from packagerecord
    </sql>

    <select id="selectByuId" parameterType="Integer" resultMap="packageRecordMap">
        <include refid="PackageRecord_get"/>
         where UID = #{uId,jdbcType=INTEGER}
    </select>

    <select id="selectByPackageId" parameterType="String" resultMap="packageRecordMap">
        <include refid="PackageRecord_get"/>
        where PackageId = #{packageId,jdbcType=VARCHAR} 
    </select>
</mapper>