<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.PackageRouteDao">
    <resultMap id="packageRouteMap" type="PackageRoute">
         <id  column="SN" property="sn"/>
         <result column="tm" property="tm"/>
         <result column="x" property="x"/>
         <result column="y" property="y"/>
         <result column="PackageID" property="packageId"/>
    </resultMap>

    <insert id="insert" parameterType="PackageRoute">
        insert into packageroute
        (PackageID, x, y, tm) values(#{packageId},#{x},#{y},#{tm});
    </insert>

    <update id="update" parameterType="PackageRoute"  >
        update packageroute
            <set>
                <if test="x != null"> x=#{x}, </if>
                <if test="y != null"> y=#{y}, </if>
                <if test="tm != null"> tm=#{tm} </if>
            </set>
        <where>
            <if test="packageId != null and packageId != ''">
                PackageID=#{packageId};
            </if>
        </where>
    </update>

    <select id="getByPackageId" parameterType="String" resultMap="packageRouteMap" >
         select SN,PackageID,x,y,tm from packageroute
         <where>
             <if test="_parameter != null and _parameter != ''">
                 PackageID=#{packageId};
             </if>
         </where>
    </select>
</mapper>