<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.PackageRouteDao">
    <resultMap id="packageRouteMap" type="PackageRoute">
        <id column="SN" property="sn"/>
        <result column="tm" property="tm"/>
        <result column="x" property="x"/>
        <result column="y" property="y"/>
        <result column="PackageID" property="packageId"/>
    </resultMap>

    <insert id="insert" parameterType="PackageRoute">
        insert into packageroute (PackageID, x, y, tm)
        values (#{packageId}, #{x}, #{y}, #{tm});
    </insert>

    <insert id="insertList" useGeneratedKeys="true" parameterType="java.util.List">
        insert into packageroute (PackageID, x, y, tm)
        values
        <foreach collection="list" item="route" index="index" separator=",">
            (#{route.packageId},#{route.x},#{route.y},#{route.tm})
        </foreach>
    </insert>

    <delete id="delete" parameterType="Integer">
        delete
        from packageroute
        where SN = #{sn}
    </delete>

    <delete id="deleteByPackageid" parameterType="string">
        delete
        from packageroute
        where PackageID=#{packageId}
    </delete>

    <update id="update" parameterType="PackageRoute">
        update packageroute
        <set>
            <if test="x != null">x=#{x},</if>
            <if test="y != null">y=#{y},</if>
            <if test="tm != null">tm=#{tm}</if>
        </set>
        where PackageID=#{packageId};
    </update>

    <select id="getByPackageId" parameterType="java.lang.String" resultMap="packageRouteMap">
        select SN, PackageID, x, y, tm
        from packageroute
        where PackageID=#{packageId}
        order by tm asc;
    </select>

    <select id="getByPackageIds" parameterType="java.util.List" resultMap="packageRouteMap">
        select SN, PackageID, x, y, tm
        from packageroute
        <foreach collection="list" item="packageId" separator="," open="where PackageID in (" close=")">
            #{packageId}
        </foreach>
        order by tm asc;

    </select>
</mapper>