<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.RegionDao">

    <resultMap id="regionMap" type="Region">
        <id property="regionCode" column="RegionCode"/>
        <result property="prv" column="Prv"/>
        <result property="cty" column="Cty"/>
        <result property="twn" column="Twn"/>
        <result property="stage" column="Stage"/>
    </resultMap>

    <sql id="region_get">
        select RegionCode,Prv,Cty,Twn,Stage from region
    </sql>

    <select id="getProvinceList"  resultMap="regionMap">
         <include refid="region_get"/> group by left(RegionCode, 2);
    </select>

    <select id="getCityList" parameterType="String" resultMap="regionMap">
        <include refid="region_get"/>
        where
              left(RegionCode,2) = (select left(RegionCode,2) from region where Prv=#{prv})
        and Cty != '';
    </select>

    <select id="getTownList" parameterType="String" resultMap="regionMap">
        <include refid="region_get"/>
         where
               left(RegionCode,4)=(select left(RegionCode,4) from region where cty=#{cty})
         and Twn != '';
    </select>

    <select id="get" parameterType="String" resultMap="regionMap">
         select region1.RegionCode, region2.Prv, region3.Cty, region1.Twn, region1.Stage
         from region as region1, region as region2, region as region3
         where region1.RegionCode=#{id}
           and concat(left(region1.RegionCode,2), '0000') = region2.RegionCode
           and concat(left(region1.RegionCode,4), '00') = region3.RegionCode
    </select>

</mapper>