<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.TransPackageContentDao">
    <resultMap id="transPackageContentMap" type="TransPackageContent">
        <id column="SN" property="sn"/>
        <result column="status" property="status"/>
        <association column="PackageID" property="pkg" select="com.expressTracking.dao.TransPackageDao.get"/>
        <association column="ExpressID" property="express"  select="com.expressTracking.dao.ExpressSheetDao.get"/>
    </resultMap>

    <insert id="insert" parameterType="TransPackageContent">
      insert into transpackagecontent(ExpressID, PackageID, Status)
      values (#{express.id} ,#{pkg.id},#{status} );
    </insert>

    <update id="update" parameterType="TransPackageContent">
        update transpackagecontent
        <set>
            <if test="express.id != null"> ExpressID=#{express.id}, </if>
            <if test="pkg.id != null"> PackageID=#{pkg.id}, </if>
            <if test="status != null"> Status=#{status}  </if>
        </set>
            where SN = #{sn};
    </update>

    <select id="getPackageId" parameterType="string" resultType="string" >
         select PackageID from transpackagecontent where ExpressID=#{expressId} ;
    </select>

    <select id="selectExpressId" parameterType="string" resultType="string">
         select ExpressID from transpackagecontent where PackageID=#{transPackageId};
    </select>
</mapper>