<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.TransPackageContentDao">
    <resultMap id="transpackagecontentMap" type="TransPackageContent">
        <id column="sn" property="sn"/>
        <result column="status" property="status"/>
        <association column="packageid" property="pkg" select="com.expressTracking.dao.TransPackageDao.get"/>
        <association property="express" column="expressid" select="com.expressTracking.dao.ExpressSheetDao.get"/>
    </resultMap>
    <insert id="insert" parameterType="TransPackageContent">
      insert into transpackagecontent(expressid, packageid, status) values (#{express.expressid} ,#{pkg.packageid},#{status} );
    </insert>

    <update id="update" parameterType="TransPackageContent">
        update transpackagecontent
        <set>
            <if test="ExpressID != null"> ExpressID=#{expressid}, </if>
            <if test="packageID != null"> PackageID=#{packageId}, </if>
            <if test="status != null"> Status=#{status}  </if>
        </set>
            where sn=#{sn};
    </update>

    <select id="getPackageId" parameterType="string" resultMap="transpackagecontentMap" >
         select PackageID from transpackagecontent where ExpressID=#{expressid};
    </select>

    <select id="selectExpressId" parameterType="string" resultMap="transpackagecontentMap">
         select ExpressID from transpackagecontent where PackageID=#{transPackageId};
    </select>
</mapper>