<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.TransPackageDao">

<select id="get" parameterType="String" resultType="TransPackage">
    select id, sourcenode, targetnode, createtime, status from transpackage where id=#{id};
</select>

    <update id="update" parameterType="TransPackage">
        update transpackage
        <set>
            <if test="id != null and id != ''"> id=#{id}, </if>
            <if test="sourceNode != null and sourceNode != ''"> SourceNode=#{sourceNode} , </if>
            <if test="targetNode != null and targetNode != ''"> TargetNode=#{targetNode}, </if>
            <if test="createTime != null"> CreateTime=#{createTime} ,</if>
            <if test="status != null"> Status=#{status}</if>

        </set>
    </update>

    <insert id="insert" parameterType="TransPackage">
        insert into transpackage(id, sourcenode, targetnode, createtime, status) values (#{id},#{sourceNode} ,#{targetNode} ,#{createTime} ,#{status} );
    </insert>
</mapper>