<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.TransNodeDao">

    <resultMap id="transNodeMap" type="TransNode">
        <id property="id" column="ID"/>
        <result property="nodeName" column="NodeName"/>
        <result property="nodeType" column="NodeType"/>
        <result property="regionCode" column="RegionCode"/>
        <result property="telCode" column="TelCode"/>
        <result property="x" column="x"/>
        <result property="y" column="y"/>
    </resultMap>

    <select id="get" parameterType="String" resultMap="transNodeMap">
        select ID, NodeName, NodeType, RegionCode, TelCode, x, y
        from transnode where id=#{id};
    </select>

    <select id="findByRegionCodeAndType" resultMap="transNodeMap">
        select ID, NodeName, NodeType, RegionCode, TelCode, x, y
        from transnode where RegionCode=#{regionCode}  and NodeType=#{type};
    </select>

    <insert id="insert" parameterType="TransNode">
         insert into transnode(ID, NodeName, NodeType, RegionCode, TelCode, x, y)
         values (#{id}, #{nodeName}, #{nodeType}, #{regionCode}, #{telCode}, #{x}, #{y});
    </insert>
</mapper>