<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.UserInfoDao">

    <resultMap id="userInfoMap" type="UserInfo">
        <id property="uId" column="UID"/>
        <result property="password" column="PWD"/>
        <result property="name" column="Name"/>
        <result property="uRull" column="URull"/>
        <result property="telCode" column="TelCode"/>
        <result property="status" column="Status" />
        <result property="dptId" column="DptID"/>
        <result property="receivePackageId" column="ReceivePackageID"/>
        <result property="delivePackageId" column="DelivePackageID"/>
        <result property="transPackageId" column="TransPackageID"/>
        <collection property="usersPackage" column="UID"
                    select="com.expressTracking.dao.UsersPackageDao.getByUserUId"/>
    </resultMap>

    <sql id="userInfo_get">
        select UID, PWD, Name, URull, TelCode,
               Status, DptID, ReceivePackageID,
               DelivePackageID, TransPackageID
        from userinfo
    </sql>

    <select id="checkByTelCode" parameterType="string" resultType="int">
        select 1 from userinfo where TelCode = #{telCode,jdbcType=VARCHAR}
    </select>

    <select id="get" parameterType="int" resultMap="userInfoMap">
         <include refid="userInfo_get"/> where UID = #{id};
    </select>

    <insert id="insert" parameterType="UserInfo">
        insert into userinfo(PWD, Name, URull, TelCode, Status, DptID,
                             ReceivePackageID, DelivePackageID, TransPackageID)
                             values (#{password} ,#{name},#{uRull},#{telCode},
                                     #{status}, #{dptId}, #{receivePackageId},
                                     #{delivePackageId}, #{transPackageId});
    </insert>

    <update id="update" parameterType="UserInfo">
        update userinfo
        <set>
            <if test="password != null"> PWD=#{password} ,</if>
            <if test="name != null and name != ''"> name=#{name},</if>
            <if test="uRull != null"> urull=#{uRull} , </if>
            <if test="telCode != null and telCode != ''"> TelCode=#{telCode}, </if>
            <if test="status != null"> Status=#{status},  </if>
            <if test="dptId != null and dptId != ''"> DptID=#{dptId}, </if>
            <if test="receivePackageId != null and receivePackageId != ''"> ReceivePackageID=#{receivePackageId},  </if>
            <if test="delivePackageId != null and delivePackageId != ''"> DelivePackageID=#{delivePackageId} , </if>
            <if test="transPackageId != null and transPackageId != ''"> TransPackageID=#{transPackageId}   </if>
        </set>
            where UID=#{uId} ;
    </update>

    <delete id="delete" parameterType="int">
        delete from userinfo where uid=#{uId};
    </delete>

    <select id="checkLogin" resultMap="userInfoMap">
        <include refid="userInfo_get"/> where TelCode = #{telCode} and PWD = #{password};
    </select>

    <select id="findLike" resultMap="userInfoMap">
        <include refid="userInfo_get"/> where 1 = 1
        <choose>
            <when test="propertyName == null or propertyName == ''"/>
            <when test="propertyName == 'UID'" >
                and UID like #{value}
            </when>
            <when test="propertyName == 'Name'">
                and Name like #{value,jdbcType=VARCHAR}
            </when>
            <when test="propertyName == 'TelCode'">
                and TelCode like #{value,jdbcType=VARCHAR}
            </when>
            <when test="propertyName == 'Status'">
                and Status like #{value,jdbcType=VARCHAR}
            </when>
            <when test="propertyName == 'DptID'">
                and DptID like #{value,jdbcType=VARCHAR}
            </when>
            <when test="propertyName == 'ReceivePackageID'">
                and ReceivePackageID like #{value,jdbcType=VARCHAR}
            </when>
            <when test="propertyName == 'DelivePackageID'">
                and DelivePackageID like #{value,jdbcType=VARCHAR}
            </when>
            <when test="propertyName == 'TransPackageID'">
                and TransPackageID like #{value,jdbcType=VARCHAR}
            </when>
        </choose>
        order by UID asc
    </select>

    <select id="findBy" resultMap="userInfoMap">
        <include refid="userInfo_get"/> where 1 = 1
        <choose>
            <when test="propertyName == null or propertyName == ''"/>
            <when test="propertyName == 'UID'" >
                and UID = #{value}
            </when>
            <when test="propertyName == 'Name'">
                and Name = #{value,jdbcType=VARCHAR}
            </when>
            <when test="propertyName == 'TelCode'">
                and TelCode = #{value,jdbcType=VARCHAR}
            </when>
            <when test="propertyName == 'DptID'">
                and DptID = #{value,jdbcType=VARCHAR}
            </when>
            <when test="propertyName == 'ReceivePackageID'">
                and ReceivePackageID = #{value,jdbcType=VARCHAR}
            </when>
            <when test="propertyName == 'DelivePackageID'">
                and DelivePackageID = #{value,jdbcType=VARCHAR}
            </when>
            <when test="propertyName == 'TransPackageID'">
                and TransPackageID = #{value,jdbcType=VARCHAR}
            </when>
        </choose>
        order by UID asc
    </select>
</mapper>