<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expresstracking.dao.UsersPackageDao">
<select id="get" parameterType="int" resultType="UsersPackage">
    select * from userspackage where UserUID=#{id};
</select>

    <insert id="insert" parameterType="UsersPackage">
        insert into userspackage values (#{useruid},#{packageid}):
    </insert>

    <delete id="delete" parameterType="int">
        delete from userspackage where sn=#{sn};
    </delete>

</mapper>