<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.UsersPackageDao">
    <resultMap id="userPackageMap" type="UsersPackage">
        <id property="sn" column="SN"/>
        <result property="userUid" column="UserUID"/>
        <result property="packageId" column="PackageID"/>
    </resultMap>

    <sql id="usersPackage_get">
        select SN, UserUID, PackageID
        from userspackage
    </sql>

    <select id="getByUserUId" parameterType="int" resultMap="userPackageMap">
         <include refid="usersPackage_get"/> where UserUID=#{userUId};
    </select>

    <select id="getByPackageId" parameterType="string" resultMap="userPackageMap">
        <include refid="usersPackage_get"/> where PackageID = #{packageId} ;
    </select>
    <insert id="insert" parameterType="UsersPackage" >
        insert into userspackage(UserUID, PackageID)
        values (#{userUid},#{packageId} );
    </insert>

    <delete id="delete" parameterType="int">
        delete from userspackage where sn=#{sn};
    </delete>

</mapper>