<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.UsersPackageDao">
    <resultMap id="userPackageMap" type="UsersPackage">
        <id property="sn" column="SN"/>
        <result property="userUid" column="UserUID"/>
        <result property="packageId" column="PackageID"/>
    </resultMap>

    <sql id="usersPackage_get">
        select SN, UserUID, PackageID
        from userspackage
    </sql>

    <select id="getByUserUId" parameterType="int" resultMap="userPackageMap">
        <include refid="usersPackage_get"/>
        where UserUID=#{userUId,jdbcType=INTEGER} ;
    </select>

    <select id="getByPackageId" parameterType="string" resultMap="userPackageMap">
        <include refid="usersPackage_get"/>
        where PackageID = #{packageId,jdbcType=VARCHAR} ;
    </select>

    <insert id="insert" parameterType="UsersPackage" useGeneratedKeys="true" keyColumn="SN" keyProperty="sn">
        insert into userspackage(UserUID, PackageID)
        values (#{userUid,jdbcType=INTEGER}, #{packageId,jdbcType=VARCHAR});
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from userspackage
        where sn = #{sn,jdbcType=INTEGER};
    </delete>


    <!--    ==============================================李伟===========================================================-->

    <select id="get" resultMap="userPackageMap">
        <include refid="usersPackage_get"/>
        <where>
            <if test="packageId != null">
                and PackageID = #{packageId}
            </if>
            <if test="userId != null">
                and UserUID = #{userId}
            </if>
        </where>
    </select>

    <delete id="remove" parameterType="java.lang.String">
        delete
        from userspackage
        where PackageID = #{pakcageId}
    </delete>
</mapper>