<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressTracking.dao.UserInfoDao">
<select id="get" parameterType="int" resultType="UserInfo">
    select * from userinfo where UID=#{id};
</select>

    <insert id="insert" parameterType="UserInfo">
        insert into userinfo(pwd, name, urull, telcode, status, dptid, receivepackageid, delivepackageid, transpackageid) values (#{pwd},#{name},#{urull},#{telCode} ,#{status} ,#{dptid},#{receivePackageId} ,#{delivePackageId} ,#{transPackageId} );

    </insert>

    <update id="update" parameterType="UserInfo">
        update userinfo
        <set>
            <if test="pwd != null"> pwd=#{pwd},</if>
            <if test="name != null and name != ''"> name=#{name},</if>
            <if test="uRull != null"> urull=#{urull}, </if>
            <if test="telCode != null and telCode != ''"> TelCode=#{telCode}, </if>
            <if test="status != null"> Status=#{status},  </if>
            <if test="dptId != null and dptId != ''"> DptID=#{dptId}, </if>
            <if test="receivePackageId != null and receivePackageId != ''"> ReceivePackageID=#{receivePackageId},  </if>
            <if test="delivePackageId != null and delivePackageId != ''"> DelivePackageID=#{delivePackageId} , </if>
            <if test="transPackageId != null and transPackageId != ''"> TransPackageID=#{transPackageId}   </if>
        </set>
            where  uid=#{uid};
    </update>

    <delete id="delete" parameterType="int">
        delete from userinfo where uid=#{id};
    </delete>

    <select id="checkLogin" resultType="UserInfo">
        select uid, pwd, name, urull, telcode, status, dptid, receivepackageid, delivepackageid, transpackageid from userinfo where uid=#{uid} and password=#{password};
    </select>
</mapper>